
ul {
    list-style-type: none;
}
nav {
    position: relative;
    left: 34%;
    top: 10%;

}
#nav li a {
    padding:2px 7px 2px 7px;
    color:rgb(26, 1, 1);
    background-color:rgb(190, 160, 160);
    border:1px solid rgb(2, 0, 0);
    font-style: italic;
}
#inli2 {
display:inline;
}
#titulo2 {
    font-style: oblique;
    font-size: 90%;
    position: relative;
    left: 2%;
 }
 #titulo2 {
    font-size: 130%;
    position: relative;
    left: 15px;
 }

 @media screen and (min-width:980px)  {
  #titulo2 {  color: rgb(243, 183, 18);            
         }
   }

 #t2 {
    position: relative;
    top:20%;
    left: 20%;
    font-style: oblique;
 }
 #A {
    position: relative;
    left: 0%;
    top: 20%;
    font-style: oblique;
    font-size: large;
    text-align: center;
 }
 #imagen {
  text-align: center;
 }
 #B {
    font-style: oblique;
    font-size: large;
    position: relative;
    top: 20%;
    text-align: center;
 }
 #imagen2 {
    text-align: center;
 }
 #t3 {
    position: relative;
    top:20%;
    left: 35%;
    font-style: oblique;
    
 }
 #C {
    font-style: oblique;
    font-size: large;
    position: relative;
    top: 20%;
    text-align: center;
 }
 #imagen3 {
    text-align: center;
 }
 #D {
    font-style: oblique;
    font-size: large;
    position: relative;
    top: 20%;
    text-align: center;
 }
 #imagen4 {
   text-align: center;
 }
 #E {
   font-style: oblique;
   font-size: large;
   position: relative;
   top: 20%;
   text-align: center;
 }
 #imagen5 {
   text-align: center;
 } 
 #t4 {
   position: relative;
   top:20%;
   left: 30%;
   font-style: oblique;
 }
 #F {
   font-style: oblique;
   font-size: large;
   position: relative;
   top: 20%;
   text-align: center;
 }
 #imagen6 {
   text-align: center;
 }
 #G {
   font-style: oblique;
   font-size: large;
   position: relative;
   top: 20%;
   text-align: center;
 }
 #imagen7 {
   text-align: center;
 }
 #body {
   margin: 3em;
   background: -o-linear-gradient(#00ff04, #09aad3);
 }
 #t5 {
   position: relative;
   top:20%;
   left: 35%;
   font-style: oblique;

 }
 #H {
   font-style: oblique;
   font-size: large;
   position: relative;
   top: 20%;
   text-align: center;
 }
 #imagen8 {
   text-align: center;
 }
 #I {
   font-style: oblique;
   font-size: large;
   position: relative;
   top: 20%;
   text-align: center;
 }
 #boton {
   text-align: center;
 }
 #ft  {
  position: fixed;
  top: -2%;
  left: 25%;
  background-color: rgb(151, 141, 141);
  font-style: italic;
  color: rgb(0, 0, 0);
  z-index: 1;
 }
body {
  background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
  }
  body {
    background-color: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
    }
    #autor {
      position: fixed;
      top: 94%;
      left: 30%;
      font-size: 100%;
  }
